.container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0.8rem 0.8rem 0.8rem 0 rgba(0, 0, 0, 0.35);
  background-color: #eee;
  transition: all 150ms ease-in-out;
}

.yellow {
  background-color: var(--yellow-note);
}

.pink {
  background-color: var(--pink-note);
}

.blue {
  background-color: var(--blue-note);
}

.green {
  background-color: var(--green-note);
}

.container h2 {
  text-align: center;
}

.container form {
  display: flex;
  flex-direction: column;
  width: 100;
  align-items: center;
}
.container textarea {
  background-color: transparent;
  border: 0.2rem solid rgba(0, 0, 0, 0.089);
  font-family: var(--cursive);
  line-height: 2.5rem;
  font-size: 2rem;
  width: 25rem;
  height: 23rem;
}

@media (min-width: 550px) {
  .container textarea {
    font-size: 2.5rem;
    width: 45rem;
  }
}

.container textarea::placeholder {
  padding: 1rem;
}

.author {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  gap: 1rem;
  padding-top: 1rem;
  flex-direction: column;
}

@media (min-width: 550px) {
  .author {
    flex-direction: row;
  }
}

.author input {
  background-color: transparent;
  border: 0.2rem solid rgba(0, 0, 0, 0.089);
  font-family: var(--cursive);
  min-width: 17rem;
}

.btns {
  display: flex;
  padding: 1rem 0 2rem;
  width: 100%;
  justify-content: center;
  column-gap: 2rem;
}

@media (min-width: 550px) {
  .btns {
    padding: 1rem 2rem 2rem 0;
  justify-content: right;
    
}
}

.btns button {
  font-family: var(--cursive);
  font-size: 2rem;
  padding: 0.5rem 1.5rem 0.3rem;
  border-radius: 1rem;
  background-color: #0084ff;
  color: white;
  box-shadow: 0.4rem 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.15);
  transition: all 200ms ease-out;
}

.btns button:hover {
  background-color: #5bb0ff;
  transform: scale(105%);
}

.btns button:first-child {
  background-color: transparent;
  border: 0.2rem solid #0084ff;
  color: #0084ff;
}

.btns button:first-child:hover {
  border: 0.2rem solid #5bb0ff;
  background-color: #5bb0ff;
  color: white;
}

.message {
  position: absolute;
  background-color: #f8d7da;
  border: 0.1rem solid #842029;
  border-radius: 0.5rem;
  color: #842029;
  font-size: 2rem;
  top: 12rem;
  width: 95%;
  padding: 3rem 0;
  text-align: center;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.15);
  animation: zoomIn 150ms ease-out;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(100%);
  }
}

button:disabled,
button:disabled:hover {
  cursor: no-drop;
  background-color: rgba(105, 105, 105, 0.5);
  color: #949494;
  transform: scale(100%);
  box-shadow: none;
}

.squares-color {
  display: flex;
  column-gap: 0.2rem;
  padding: 0.5rem 0 0.7rem;
}

@media (min-width: 550px) {
  .squares-color {
    padding: 0;
  }
}

.square {
  cursor: pointer;
  border: 0.2rem solid #333;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
}

.white {
  background-color: white;
}
