.wrapper {
  transform: rotate(-3deg);
  margin: 2rem;
  transition: all 300ms ease-out;
}

.wrapper:hover {
  transform: scale(110%);
}

.wrapper img {
  position: fixed;
  top: -2rem;
  left: 8.5rem;
  width: 2.7rem;
  transition: all 200ms ease-out;
  padding: 1rem;
  cursor: pointer;
}

.wrapper img:hover {
  top: -3.2rem;
  left: 7.8rem;
  transform: scale(120%);
}

.note {
  background-color: #fff;
  width: 21rem;
  height: 20rem;
  padding: 2rem;
  font-family: var(--cursive);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0.8rem 0.8rem 0.8rem 0 rgba(0, 0, 0, 0.35);
}

.yellow {
  background-color: #fcffcc;
}

.blue {
  background-color: #ccf7ff;
}

.green {
  background-color: #b7ffb7;
}

.pink {
  background-color: rgb(255, 168, 168);
}

.note p {
  text-align: left;
  line-height: 3rem;
  overflow: hidden;
}

.footer {
  text-align: right;
  font-weight: bold;
  color: #333;
}
