.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay {
  position: fixed;
  z-index: 40;
  height: 36rem;
  width: 30rem;
  left: calc(50vw - 15rem);
  top: 10vh;
  animation: popIn 200ms linear;
}

@media (min-width: 550px) {
  .overlay {
    width: 50rem;
  left: calc(50vw - 25rem);
  }
}

@keyframes popIn {
  0% {
    transform: scale(0%);
  }
  70% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}
